---
layout: base.njk
permalink: dashboard.en.html
title: Dashboard – DAKODA Infrastructure
---

<h2>Dashboard</h2>

<p class="dashboard-cta">
  <a href="https://dakoda-dashboard.cats.fernuni-hagen.de" class="cta-button" target="_blank" rel="noopener">Open Dashboard</a>
</p>

<section class="card info-box">
  <h3>Verwendung</h3>
  View visualizations and statistics on corpora of the DAKODA database. 
  You can display and export developmental stage annotation in the learner texts. 
  To do this, select filters on the left for corpora, CEFR levels of the learners and the texts, and the learners´ L1. 
  You will then be shown a random sample text from your filtered selection with automatically annotated developmental stages. 
  Additional metadata appears on the right. 
  You can view visualizations of the filter variables for the entire corpus selection and export and download the results using various download options. 
</section>

<section class="dashboard-screenshot">
  <a href="https://dakoda-dashboard.cats.fernuni-hagen.de" target="_blank" rel="noopener">
    <img src="/css/img/dashboard.png" alt="DAKODA Dashboard" class="screenshot" />
  </a>
</section>

<!--  

<section class="card help-card">
  <h2>Dashboard User Guide</h2>
  <p>
    Here you will find detailed step-by-step instructions on how to use the Dashboard.
  </p>
  <a href="/https://dakoda.org/help.de.html" class="cta-button">Hinweise öffnen</a>
</section>

<section class="grid-area">
<div class="highlight-grid">
    <div class="highlight-card">
      <h3>Dashboard</h3>
      <p>View visualizations and statistics on corpora of the DAKODA database. You can display and export developmental stage annotations in the learner texts.</p>
      <a class="highlight-link" href="https://dakoda-dashboard.cats.fernuni-hagen.de" target="_blank" rel="noopener">Öffnen</a>
    </div>

    <div class="highlight-card">
      <h3>Query search</h3>
      <p>Query the Dashboard and search across corpora with filters.</p>
      <a class="highlight-link" href="https://dakoda-dashboard.cats.fernuni-hagen.de/page_query_search" target="_blank" rel="noopener">Öffnen</a>
    </div>

    <div class="highlight-card">
      <h3>Analyze developmental stages</h3>
      <p>Analyze developmental stages in texts. You can display and export these with sentence parsing, word alignment, and dependency trees.</p>
      <a class="highlight-link" href="https://dakoda-dashboard.cats.fernuni-hagen.de/page_analyze_levels" target="_blank" rel="noopener">open</a>
    </div>  
  </div>
</section>
-->