---
layout: base.njk
permalink: dashboard.de.html
title: Dashboard – DAKODA-Infrastruktur
---

<h2>Dashboard</h2>

<p class="dashboard-cta">
  <a href="https://dakoda-dashboard.cats.fernuni-hagen.de" class="cta-button" target="_blank" rel="noopener">Dashboard öffnen</a>
</p>

<section class="card info-box">
  <h3>Verwendung</h3>
  Sehen Sie sich Visualisierungen und Statistiken zu ausgewählten Korpora aus der DAKODA-Datenbasis an. 
  Sie können die Erwerbsstufen in den Lernertexten anzeigen und exportieren. 
  Dazu wählen Sie links Filter zu den Korpora, den GER-Niveaus der Lernenden und der Texte und den L1 der Lernenden aus. 
  Ihnen wir dann ein zufälliger Beispieltext aus Ihrer gefilterten Auswahl mit automatisch annotierten Erwerbsstufen angezeigt. 
  Weitere Metadaten zum Text erscheinen auf der rechten Seite. Sie können sich Visualisierungen der Filtervariablen für die gesamte Korpusauswahl anzeigen lassen und die Ergebnisse mit verschiedenen Downloadoptionen exportieren und herunterladen.
</section>

<section class="dashboard-screenshot">
  <a href="https://dakoda-dashboard.cats.fernuni-hagen.de" target="_blank" rel="noopener">
    <img src="/css/img/dashboard.png" alt="DAKODA Dashboard" class="screenshot" />
  </a>
</section>

<!--
<section class="card help-card">
  <h2>Hinweise zur Nutzung des Dashboards</h2>
  <p>
    Hier finden Sie ausführliche Schritt-für-Schritt-Anleitungen zur Nutzung des Dashboards. Einzelne Hinweise zur Nutzung finden Sie auch auf den jeweiligen Funktionsseiten.
  </p>
  <a href="/https://dakoda.org/help.de.html" class="cta-button">Hinweise öffnen</a>
</section>

<section class="grid-area">
  <div class="highlight-grid">
    <div class="highlight-card">
      <h3>Daten visualisieren</h3>
      <p>Sehen Sie sich Visualisierungen und Statistiken zu ausgewählten Korpora aus der DAKODA-Datenbasis an. Sie können die Erwerbsstufen in den Lernertexten anzeigen und exportieren.</p>
      <a class="highlight-link" href="https://dakoda-dashboard.cats.fernuni-hagen.de" target="_blank" rel="noopener">Öffnen</a>
    </div>

    <div class="highlight-card">
      <h3>Abfrage & Suche</h3>
      <p>Durchsuchen Sie das Dashboard und suchen Sie korpusübergreifend mit Filtern.</p>
      <a class="highlight-link" href="https://dakoda-dashboard.cats.fernuni-hagen.de/page_query_search" target="_blank" rel="noopener">Öffnen</a>
    </div>

    <div class="highlight-card">
      <h3>Spracherwerbsstufen analysieren</h3>
      <p>Analysieren Sie Erwerbsstufen in Texten. Sie können sich diese zusammen mit einer Satzsegmentierung, Wortalignierung und einem Abhängigkeitsbaum (dependency tree) anzeigen lassen und exportieren. </p>
      <a class="highlight-link" href="https://dakoda-dashboard.cats.fernuni-hagen.de/page_analyze_levels" target="_blank" rel="noopener">Öffnen</a>
    </div>
  </div>
</section>
-->

