---
layout: base.njk
permalink: dashboard.de.html
title: Dashboard – DAKODA Infrastruktur
---

<h2>Dashboard</h2>

<!--
<!-- Help Section card -->
<section class="card help-card">
  <h2>Hinweise zur Nutzung des Dashboards</h2>
  <p>
    Hier finden Sie ausführliche Schritt-für-Schritt-Anleitungen zur Nutzungn des Dashboards. Einzelne Hinweise zur Nutzung finden Sie auch auf den jeweiligen Funktionsseiten.
  </p>
  <a href="/https://dakoda.org/help.de.html" class="cta-button">Hinweise öffnen</a>
</section>
-->

    <div class="highlight-card">
      <h3>Daten visualisieren</h3>
      <p>Sehen Sie sich Visualisierungen und Statistiken zu ausgewählten Korpora aus der DAKODA-Datenbasis an.</p>
      <a class="highlight-link" href="https://dakoda-dashboard.cats.fernuni-hagen.de" target="_blank" rel="noopener">Öffnen</a>
    </div>

    <div class="highlight-card">
      <h3>Abfrage & Suche</h3>
      <p>Durchsuchen Sie das Dashboard und suchen Sie korpusübergreifend mit Filtern.</p>
      <a class="highlight-link" href="https://dakoda-dashboard.cats.fernuni-hagen.de/page_query_search" target="_blank" rel="noopener">Öffnen</a>
    </div>

    <div class="highlight-card">
      <h3>Spracherwerbsstufen analysieren</h3>
      <p>Analysieren Sie Erwerbsstufen in Texten. Lassen Sie sich sentence parsing, word allignment, dependency trees anzeigen. </p>
      <a class="highlight-link" href="https://dakoda-dashboard.cats.fernuni-hagen.de/page_analyze_levels" target="_blank" rel="noopener">Öffnen</a>
    </div>

