---
layout: base.njk
permalink: dashboard.en.html
title: Dashboard – DAKODA Infrastructure
---

<h2>Dashboard</h2>
  <div class="highlight-grid">

<!-- Help Section card 
<section class="card help-card">
  <h2>Dashboard User Guide</h2>
  <p>
    Here you will find detailed step-by-step instructions on how to use the Dashboard.
  </p>
  <a href="/https://dakoda.org/help.de.html" class="cta-button">Hinweise öffnen</a>
</section>
-->

    <div class="highlight-card">
      <h3>Dashboard</h3>
      <p>View visualizations and statistics on corpora of the DAKODA database. You can display and export developmental stage annotations in the learner texts.</p>
      <a class="highlight-link" href="https://dakoda-dashboard.cats.fernuni-hagen.de" target="_blank" rel="noopener">Öffnen</a>
    </div>

    <div class="highlight-card">
      <h3>Query search</h3>
      <p>Query the Dashboard and search across corpora with filters.</p>
      <a class="highlight-link" href="https://dakoda-dashboard.cats.fernuni-hagen.de/page_query_search" target="_blank" rel="noopener">Öffnen</a>
    </div>

    <div class="highlight-card">
      <h3>Analyze developmental stages</h3>
      <p>Analyze developmental stages in texts. You can display and export these with sentence parsing, word alignment, and dependency trees.</p>
      <a class="highlight-link" href="https://dakoda-dashboard.cats.fernuni-hagen.de/page_analyze_levels" target="_blank" rel="noopener">open</a>
    </div>  
  </div>
</section>