---
layout: base.njk
permalink: index.html
title: DAKODA-Infrastruktur
---

<p>Please select your preferred language:</p>
<ul>
  <li><a href="/index.en.html">English</a></li>
  <li><a href="/index.de.html">Deutsch</a></li>
</ul>
